numpy
pandas
python-dotenv

# LangChain 
langchain
langchain_community
langchain_text_splitters

# Ollama (LLM + embeddings)
ollama
langchain-ollama
langchain-groq

# Vector db
faiss-cpu

# Document loaders
pypdf
beautifulsoup4
requests
beautifulsoup4
bs4 
wikipedia
validators==0.28.1
youtube_transcript_api
pytube

#UI
streamlit
ipykernel

